// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message--unread {
  font-weight: bold;
}

//colors
$color_curious_blue_approx: #29d;

#nprogress {
  pointer-events: none;
  .bar {
    background: $color_curious_blue_approx;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 10px $color_curious_blue_approx, 0 0 5px $color_curious_blue_approx;
    opacity: 1.0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(3deg) translate(0px, -4px);
  }
  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }
  .spinner-icon {
    width: 18px;
    height: 18px;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: $color_curious_blue_approx;
    border-left-color: $color_curious_blue_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite;
  }
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
  #nprogress {
    .spinner {
      position: absolute;
    }
    .bar {
      position: absolute;
    }
  }
}
@-webkit-keyframes nprogress-spinner {
  0% {
  }
  100% {
  }
}
@keyframes nprogress-spinner {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(0deg);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(360deg);
  }
}
